body {
    background-color:#992600;
    
}

.content {
    position: absolute;
	left: 40%;
	top: 20%;
	z-index: 2;
    width: 400px;
    height: 150px;
    
    
}

h1 {
    
    padding: 20px;
    border-radius: 45px;
    background-color: floralwhite;
    text-align: center;
    line-height: 130px;
    cursor: pointer;
    color:firebrick
    
    
}

.hidden {
     position: absolute;
	 left: 40%;
	 top: 60%;
	 z-index: 1;
     width: 400px;
     height: auto;
     border-radius: 45px; 
     background-color: #ffffb3;
     display: none;
     
    
}

p {
       
        text-align:center;
        font-size: 20px;
        font-style: italic;
   
}
